html, body{
    margin: 0;
    height: 100%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #7743DB;
}

.page-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0;
 }

 .incontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 3rem;
    flex-direction: column;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
 }

 header {
    background-color: #ffffff;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
 }

 footer {
    position: absolute;
    background-color: #7743DB;
    height: 10rem;
    width: 100%;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
 }

 header a, header p {
    color: #7743DB;
    margin: 1rem;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
 }

 #left {
    margin-left: 24px;
 }

 #right {
    margin-right: 24px;
 }

.current-link {
    color: #ba62fe;
    font-weight: 750;
}

header a:hover {
    color: #000;
 }

 footer img, footer p {
    margin-right: 1rem;
    margin-left: 1rem;
 }

 footer > p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
 }

 .img-container {
    height: 8rem;
    width: 8rem;
 }

 .img-container > img {
    width: 100%;
    height: 100%;
 }

 h1 {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-top: 48px; 
    margin-bottom: 8px;
}

h2 {
    text-align: center;
}

p {
    font-size: 16px;
}

@media screen and (max-width: 390px) {
}

@media screen and (max-width: 820px) {
    footer {
        justify-content: center;
        flex-direction: column;
        height: 16rem;
    }
}

/* gradient for about page Process subsection */
.body_gradient {
    background-image: linear-gradient(#f7efe5, white);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* about page subtitles */
.body_title {
    color: #7743DB;
    margin-left: 5%;
    padding-top: 50px;
    font-weight: 5000;
    font-family: 'Inter';
    font-size: 48px;
}

/* about page paragraph text */
.body_text {
    color: #7743DB;
    margin-left: 10%;
    font-family: 'Inter';
    font-size: 24px;
    margin-bottom: 10rem;
}

video {
    margin-bottom: 3rem;
}

.button {
    background-color: white;
    border: 2px solid #7743DB;
    width: 126px;
    height: 34px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: #7743DB;
    font-size: 18px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
}

.button:hover {
    width: 126px;
    height: 34px;
    border-radius: 4px;
    border: 2px solid white;
    background-color: #7743DB;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

.uploadOuter {
    align-self: flex-start;
    text-align: center;
    margin-left: 5rem;
    padding: 20px;
    strong {
      padding: 0 10px
    }
  }
  .dragBox {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    line-height: 95px;
    color: #999;
    border: 2px dashed #ccc;
    display: inline-block;
    transition: transform 0.3s;
    input[type="file"] {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      top: 0;
      left: 0;
    }
  }
  .draging {
    transform: scale(1.1);
  }
  #preview {
    text-align: center;
    img {
      max-width: 100%
    }
  }

  .checkboxes {
    margin-left: 50%;
  }
  
  .textmargin {
    margin-left: 50%;
  }
  
  #try {
    margin-bottom: 32px;
  }

  #preview {
    height: 100%;
    width: 100%;
    border-radius: 16px;
  }

  #preview-container {
    background-color: #F7EFE6;
    width: 23.75rem;
    height: 20rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #dragndrop-container {
    height: 5rem;
    width: 6.875rem;
  }

  #dragndrop {
    font-size: 1.5rem;
    font-weight: 800;
  }
    
  #dragndrop-image {
    height: 100%;
    width: 100%;
  }

  #left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.625rem;
  }

  #jump {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
  }