html, body{
    margin: 0;
    height: 100%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #7743DB;
}

.custom-table {
  width: 100%;
  background-color: #F7EFE6; 
  border-collapse: collapse; 
}

.custom-table th,
.custom-table td {
    border: 4px solid #fff; 
    padding: 8px; 
    text-align: center;
}

.custom-table tbody {
  background: linear-gradient(to bottom, #F7EFE6, #FFFFFF);
}

.delete-button {
  color: black; 
  background-color: white; 
  border: 1px solid black; 
  padding: 2px 7px; 
  cursor: pointer; 
  font-size: 16px; 
  border-radius: 3px; 
}

.page-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0;
 }

 .incontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4.375rem;
    padding-bottom: 3rem;
    flex-direction: column;
    margin: 0;
    padding-left: 0rem;
    padding-right: 0rem;
 }

 header {
    background-color: #ffffff;
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0rem;
    width: 100%;
 }

 footer {
    position: absolute;
    background-color: #7743DB;
    height: 10rem;
    width: 100%;
    bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
 }

 header a, header p {
    color: #7743DB;
    margin: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 700;
 }

 header p {
  color: #494759;
 }

 #left {
    margin-left: 2.8rem;
    font-weight: 800;
    font-size: 2rem;
 }

 #right {
    margin-right: 1.5rem;
 }

.current-link {
    color: #ba62fe;
    font-weight: 750;
    text-decoration: underline;
}

header a:hover {
    color: #000;
 }

 footer img, footer p {
    margin-right: 1rem;
    margin-left: 1rem;
 }

 footer > p {
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
 }

 .img-container {
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .img-container > img {
    width: 100%;
    height: 100%;
 }

 h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 7.5rem; 
    margin-bottom: 0.5rem;
    font-weight: 800;
    color: #494759;
}

h2 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #494759;
}

#title {
  margin-left: 2rem;
  margin-right: 2rem;
}

p {
    font-size: 1rem;
    font-weight: 600;
    color: #494759;
}

#intro {
  margin-top: 2.875rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

/* gradient for about page Process subsection */
.body_gradient {
    background-image: linear-gradient(#f7efe5, white);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* about page subtitles */
.body_title {
    color: #7743DB;
    margin-left: 5%;
    padding-top: 3.125rem;
    font-weight: 5000;
    font-family: 'Inter';
    font-size: 3rem;
}

/* about page paragraph text */
.body_text {
    color: #7743DB;
    margin-left: 10%;
    font-family: 'Inter';
    font-size: 1.5rem;
    margin-bottom: 10rem;
}

video {
    margin-bottom: 1.563rem;
}

.button {
    background-color: white;
    border: 2px solid #7743DB;
    width: 7.875rem;
    height: 2.125rem;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: #7743DB;
    font-size: 1.125rem;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
}

.button:hover {
    width: 7.875rem;
    height: 2.125rem;
    border-radius: 4px;
    border: 2px solid white;
    background-color: #7743DB;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    text-align: center;
    font-weight: 700;
}

#checkboxes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

  .checkboxes {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 0.938rem;
    height: 0.938rem;
    border: 2px solid #7743DB;
    outline: none;
    cursor: pointer;
    vertical-align: middle; 
    border-radius: 4px
  }

  input[type="checkbox"]:checked {
    background-color: #7743DB;
  }
  
  .textmargin {
    color: #494759;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
  
  #try {
    margin-bottom: 4rem;
  }

  #preview {
    height: 100%;
    width: 100%;
    border-radius: 16px;
  }

  #preview-container {
    background-color: #F7EFE6;
    width: 23.75rem;
    height: 20rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #dragndrop-container {
    height: 5rem;
    width: 6.875rem;
  }

  #dragndrop {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    color: #7743DB;
  }
    
  #dragndrop-image {
    height: 100%;
    width: 100%;
  }

  #left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.625rem;
  }

  #right-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #jump {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    margin-bottom: 14rem;
    width: 100%;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }

  label {
    display: inline-block;
    white-space: nowrap;
  }

  label span {
    vertical-align: middle; 
    font-weight: 800;
  }

  @media screen and (max-width: 1100px) {
    #jump {
      flex-direction: column;
    }

    #right-div {
      justify-content: center;
      align-items: center;
    }
    footer > p {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    footer {
      justify-content: center;
      flex-direction: column;
      height: 16rem;
    }
  }
  
  @media screen and (max-width: 820px) {
      #jump {
        margin-bottom: 16rem;
      }
  }

  @media screen and (max-width: 900px) {
    video {
      width: 75%;
      height: calc(75vw * 2 / 3);
    }

    #right-div {
      width: 50%;
    }
  }

  @media screen and (max-width: 550px) {
    #preview-container {
      width: 100%;
      height: 100%;
    }

    #left-div {
      width: 75%;
      aspect-ratio: 1/1;
    }

    footer > p {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 600px) {
    #left {
      font-size: 1.5rem;
    }

    /* .body_gradient {
      padding-left: 1rem;
      padding-right: 1rem;
    } */
  }

  @media screen and (max-width: 400px) {
    #left {
      font-size: 1.25rem;
    }

    header a {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 330px) {
    #left {
      font-size: 1rem;
      margin-left: 2rem;
    }

    header a {
      font-size: .75rem;
    }

    h1 {
      font-size: 1.5rem
    }
    
    h2 {  
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 280px) {
    #left {
      font-size: .75rem;
      margin-left: 1.5rem;
    }

    header a {
      font-size: 0.625rem;
    }

    footer > p {
      font-size: .75rem;
    }
  }

.checkbox-container {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
}