asgiref==3.8.1
Django==5.0.4
django-cors-headers==4.3.1
djangorestframework==3.15.1
joblib==1.4.2
numpy==1.26.4
pillow==10.3.0
PyJWT==2.8.0
scikit-learn==1.2.2
scipy==1.13.1
sqlparse==0.5.0
threadpoolctl==3.5.0
tzdata==2024.1
