 html, body{
    margin: 0;
}

body {
    background-color: #F7EFE5;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #7743DB;
}

.page-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0;
 }

 .incontainer {
    background-color: #F7EFE5;
    /* min-height: 100vh; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 3rem;
    flex-direction: column;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
 }

 header {
    background-color: #ffffff;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
 }

 footer {
    position: absolute;
    background-color: #7743DB;
    height: 10rem;
    width: 100%;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
 }

 header a, header p {
    color: #7743DB;
    margin: 1rem;
    font-size: 20px;
    text-decoration: none;
    font-weight: 550;
 }

 #left {
    margin-left: 24px;
 }

 #right {
    margin-right: 24px;
 }

.current-link {
    color: #ba62fe;
    font-weight: 750;
}

header a:hover {
    color: #000;
 }

 footer img, footer p {
    margin-right: 1rem;
    margin-left: 1rem;
 }

 footer > p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
 }

 .img-container {
    height: 8rem;
    width: 8rem;
 }

 .img-container > img {
    width: 100%;
    height: 100%;
 }

 h1 {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-top: 48px; 
    margin-bottom: 8px;
}

h2 {
    text-align: center;
}

p {
    font-size: 16px;
}

/* #button {
    background-color: white;
    border: 2px solid #007EA8;
    width: 126px;
    height: 34px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #007EA8;
    font-size: 18px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    margin-bottom: 128px;
}

#button:hover {
    width: 126px;
    height: 34px;
    border-radius: 4px;
    border: 2px solid white;
    background-color: #007EA8;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

#button-container:hover #hoverlearnmore{
    display: default;
} */

@media screen and (max-width: 390px) {
}

@media screen and (max-width: 820px) {
    footer {
        justify-content: center;
        flex-direction: column;
        height: 16rem;
    }
}