a {
    color: #7743DB;
}

a:hover {
    color: #000;
}

body {
    font-family: 'Inter', Helvetica, sans-serif;
    color: #494759;
}

footer {
    position: absolute;
    background-color: #7743DB;
    height: 10rem;
    width: 100%;
    bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}

footer img, footer p {
    margin-right: 1rem;
    margin-left: 1rem;
}

footer > p {
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
}

header {
    background-color: #ffffff;
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0rem;
    width: 100%;
}

header a, header p {
    color: #7743DB;
    margin: 1rem;
    font-size: 20px;
    font-weight: 600;
}

header p {
  color: #542e9a;
}

hr {
    background: #f7efe5;
    height: .1rem;
    width: 80%;
    border: 1rem solid #362F1F;
}

html, body{
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 7.5rem; 
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
    color: #494759;
}

h2 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #494759;
}

h3 {
    color: #542e9a;
    font-size: 2rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: center;
}

h4 {
    font-size: 1.75rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
}

input[type="checkbox"]:checked {
    background-color: #7743DB;
}

label {
    display: inline-block;
    white-space: nowrap;
}

label span {
    vertical-align: middle; 
    font-weight: 800;
}

li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

ol ol {
    list-style-type: lower-latin
}

p {
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
    color: #494759;
}

table, th, td {
    border: 0.1rem solid #494759;
    border-collapse: collapse;
    margin-top: 0.75rem;
    padding: 1rem;
}

video {
    margin-bottom: 1.563rem;
}

.author {
    text-align: center;
    font-size: 20px;
    color: #584684;
}

/* gradient for about page Process subsection */
.body_gradient {
    background-image: linear-gradient(#f7efe5, white);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 14rem;
    padding-bottom: 48px;
}

/* about page paragraph text */
.body_text, .references_list {
    color: #494759;
    font-weight: 500;
    width: 80%;
}

/* about page subtitles */
.body_title {
    color: #494759;
    /* margin-left: 5%; */
    padding-top: 3.125rem;
    font-weight: 700;
    font-size: 3rem;
}

.button {
    background-color: white;
    border: 2px solid #7743DB;
    width: 7.875rem;
    height: 2.125rem;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: #7743DB;
    font-size: 1.125rem;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
}

.button:hover {
    width: 7.875rem;
    height: 2.125rem;
    border-radius: 4px;
    border: 2px solid white;
    background-color: #7743DB;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    text-align: center;
    font-weight: 700;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
}

.checkboxes {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 0.938rem;
    height: 0.938rem;
    border: 2px solid #7743DB;
    outline: none;
    cursor: pointer;
    vertical-align: middle; 
    border-radius: 4px
}

.cnn-stats {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.cnn-stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-link {
    color: #c371d5;
    font-weight: 750;
    text-decoration: underline;
}

.divider{
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}

.img-container {
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container > img {
    width: 100%;
    height: 100%;
}

.incontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 3rem;
    flex-direction: column;
    margin: 0;
    padding-left: 0rem;
    padding-right: 0rem;
}

.italics {
    font-style: italic;
    font-size: 1.125rem;
    display: inline;
    margin: 0;
}

.page-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0;
 }

 .references_list {
    font-size: 1.125rem;
 }

.textmargin {
    color: #494759;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

#checkboxes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#dragndrop {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    color: #7743DB;
}

#dragndrop-container {
    height: 5rem;
    width: 6.875rem;
}

#dragndrop-image {
    height: 100%;
    width: 100%;
}


#intro {
    margin-top: 2.875rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

#jump {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    margin-bottom: 14rem;
    width: 100%;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
}

#left {
    margin-left: 2.8rem;
    font-weight: 800;
    font-size: 2rem;
 }

#left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.625rem;
}

#preview {
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

#preview-container {
    background-color: #F7EFE6;
    width: 23.75rem;
    height: 20rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

#references {
    margin-bottom: 3rem;
}

#right {
    margin-right: 1.5rem;
}

#right-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

#title {
    margin-left: 2rem;
    margin-right: 2rem;
}

#try {
      margin-bottom: 4rem;
}

@media screen and (max-width: 1200px) {
    #jump {
        flex-direction: column-reverse;
    }

    #right-div {
        justify-content: center;
        align-items: center;
    }
    footer > p {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    footer {
        justify-content: center;
        flex-direction: column;
        height: 16rem;
    }
}

@media screen and (max-width: 900px) {
    video {
        width: 75%;
        height: calc(75vw * 2 / 3);
    }

    #right-div {
        width: 50%;
    }
}

@media screen and (max-width: 820px) {
    footer {
        justify-content: center;
        flex-direction: column;
    }
    table, th, td {
        padding: 0px;
    }
    #jump {
        margin-bottom: 16rem;
    }
}

@media screen and (max-width: 700px) {
    .body_title {
        padding-top: 2rem;
        margin-top: 2rem;
    }
    .cnn-stats {
        grid-template-columns: 1fr;
    }
    .cnn-stat-item {
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 600px) {
    #left {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    #preview-container {
        width: 100%;
        height: 100%;
    }

    #left-div {
        width: 75%;
        aspect-ratio: 1/1;
    }

    footer > p {
        font-size: 1rem;
    }

    .body_gradient {
        margin-top: 2rem;
    }

    .body_title {
        padding-top: 2rem;
        margin-top: 1rem;
    }

    .divider {
        width: 259px;
        white-space: nowrap; 
        overflow: hidden;
    }
}

@media screen and (max-width: 400px) {
    #left {
        font-size: 1.25rem;
    }

    header a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 330px) {
    #left {
        font-size: 1rem;
        margin-left: 2rem;
    }

    header a {
        font-size: .75rem;
    }

    h1 {
        font-size: 1.5rem
    }

    h2 {  
        font-size: 1rem;
    }
}

@media screen and (max-width: 280px) {
    #left {
        font-size: .75rem;
        margin-left: 1.5rem;
    }

    header a {
        font-size: 0.625rem;
    }

    footer > p {
        font-size: .75rem;
    }
}